#u107
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #262626;
}

#u301-2
{
	font-size: 22px;
	line-height: 26px;
	color: #F8F8F8;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u119
{
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	background: #FFFFFF url("../images/jones_nccu_136-ieu119-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/jones_nccu_136.jpg") no-repeat left top;
	background-color: #FFFFFF;
	background-size: cover;
}

#menuu198
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u299,#u301-5,#u199,#u202
{
	background-color: transparent;
	position: relative;
}

#u203-3
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u200
{
	background-color: transparent;
}

#u258
{
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	position: relative;
}

#u258:hover
{
	background-color: #AAAAAA;
}

#u259-4
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u223
{
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	position: relative;
}

#u223:hover
{
	background-color: #AAAAAA;
}

#u224-4
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

#u201,#u255,#u220,#u285
{
	background-color: transparent;
	position: relative;
}

#u288
{
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F2;
	position: relative;
}

#u288:hover
{
	background-color: #AAAAAA;
}

#u258.MuseMenuActive,#u223.MuseMenuActive,#u288.MuseMenuActive
{
	background-color: #666666;
}

#u289-4
{
	background-color: transparent;
	line-height: 13px;
	font-size: 11px;
	text-align: center;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1626
{
	border-style: none;
	border-color: transparent;
	background-color: #262626;
}

#u107_align_to_page,#u1626_align_to_page
{
	position: relative;
}

#u1632-6
{
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	position: relative;
}

#u1627
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u1629
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/facebook.png") no-repeat center center;
}

#u1629:hover
{
	background: #70B0AA url("../images/facebook-u492-r-fr.png") no-repeat center center;
	background-color: rgba(60, 148, 139, 0.73);
}

#u1631
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/twitter.png") no-repeat center center;
}

#u1631:hover
{
	background: #3C948B url("../images/twitter.png") no-repeat center center;
}

#u1630
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/pinterest.png") no-repeat center center;
}

#u1630:hover
{
	background: #3C948B url("../images/pinterest.png") no-repeat center center;
}

#u1628
{
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	background: transparent url("../images/youtube.png") no-repeat center center;
}

#u1628:hover
{
	background: #3C948B url("../images/youtube.png") no-repeat center center;
}

.js #u1629.ose_pre_init,.js #u1631.ose_pre_init,.js #u1630.ose_pre_init,.js #u1628.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

